/* You can add global styles to this file, and also import other style files */
.page-wrapper {
  background-color: #fff;
  padding: 40px 0;
  .box {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    h4 {
      font-size: 16px;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
}
