<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <li *ngFor="let news of newsList; let i = index">
                        <div class="box">
                            <h4>{{i+1}}. {{news.title}} <a
                                    href="{{news.url}}">{{news.url}}</a>
                            </h4>
                            <p>{{news.descendants}} point by {{news.by}} time {{news.time }}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>